<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/app/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <title>Dong - Keep your secret</title>
</head>
<body>

<div id="app" class="container" style="padding-top: 30px">

    <div class="row">
        <div class="col-md-12">

            <form @submit.prevent="handleGetPapers()">
                <div class="form-group">
                    <label for="abracadabra">Your abracadabra</label>
                    <input v-model="abracadabra" type="text" class="form-control" name="abracadabra"
                           aria-describedby="abracadabraHelp">
                    <small id="abracadabraHelp" class="form-text text-muted">Say out your abracadabra, there is no
                        eavesdropper between you and yourself.</small>
                </div>
                <button type="submit" class="btn btn-primary">SING</button>
                <button type="button" class="btn btn-primary float-right" @click="handleCreatePaper()">CREATE</button>
            </form>

            <div v-for="paper in papers" class="paper card markdown">
                <div class="card-body">

                    <h6 class="card-subtitle mb-2 text-muted">{{ paper.created_at | dateformat("YYYY-MM-DD dddd") }}</h6>

                    <textarea v-if="paper.editing" name="data" v-model="paper.data.data" style="width: 100%"
                              rows="10"></textarea>
                    <p v-else class="card-text" v-html="paper.data.dataMarked"></p>

                    <a @click="handleDeletePaper(paper)" href="javascript:void(0)" class="card-link">Throw away</a>

                    <a v-if="!paper.editing" @click="paper.editing = true" href="javascript:void(0)" class="card-link">Edit</a>
                    <a v-else @click="handleUpdatePaper(paper)" href="javascript:void(0)" class="card-link">Save</a>

                </div>
            </div>

        </div>

    </div>

</div>

<script src="/app/node_modules/vue/dist/vue.js"></script>
<script src="/app/node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="/app/node_modules/moment/moment.js"></script>
<script src="/app/node_modules/crypto-js/crypto-js.js"></script>
<script src="/app/node_modules/marked/marked.min.js"></script>

<script>
    String.prototype.marked = (plain) => {
        return marked(plain)
    }

    var app = new Vue({
        el: '#app',
        data: {
            abracadabra: '',
            papers: [],
        },
        methods: {
            handleGetPapers() {
                this.$http.get('/api/v1/papers', {headers: {'ABRACADABRA-TOKEN': this.abracadabraToken}}).then(response => {
                    this.papers = (response.body.data || []).map((paper) => {
                        paper.data = this.decryptAndDecode(paper.data, this.aesKey)
                        paper.editing = false

                        paper.data.dataMarked = marked(paper.data.data)

                        return paper
                    })
                })
            },
            handleCreatePaper() {
                const paperData = {content_type: 'text/markdown', data: '## I am a title\n\nClick Edit to start'}
                const paperDataCrypted = this.encryptAndEncode(paperData)
                this.$http.post('/api/v1/papers', {data: paperDataCrypted}, {headers: {'ABRACADABRA-TOKEN': this.abracadabraToken}}).then(response => {
                    var paper = response.body
                    paper.data = this.decryptAndDecode(paper.data, this.aesKey)
                    paper.data.dataMarked = marked(paper.data.data)
                    paper.editing = false
                    this.papers.unshift(paper)
                })
            },
            handleDeletePaper(paper) {
                if (!confirm('You will lost this paper, confirm?')) {
                    return
                }

                this.$http.delete(`/api/v1/papers/${paper.id}`, {headers: {'ABRACADABRA-TOKEN': this.abracadabraToken}}).then(response => {
                    this.papers = this.papers.filter((i) => i.id !== paper.id)
                })
            },
            handleUpdatePaper(paper) {
                const paperData = {content_type: paper.data.content_type, data: paper.data.data}
                this.$http.put(`/api/v1/papers/${paper.id}`, {data: this.encryptAndEncode(paperData)}, {headers: {'ABRACADABRA-TOKEN': this.abracadabraToken}}).then(response => {
                    paper.data = this.decryptAndDecode(response.body.data)
                    paper.data.dataMarked = marked(paper.data.data)
                    paper.editing = false
                })
            },
            encryptAndEncode(data) {
                r = CryptoJS.AES.encrypt(JSON.stringify(data), this.aesKey).toString()
                return r
            },
            decryptAndDecode(data) {
                r = JSON.parse(CryptoJS.AES.decrypt(data, this.aesKey).toString(CryptoJS.enc.Utf8))
                return r
            }
        },
        computed: {
            aesKey() {
                return CryptoJS.SHA256(this.abracadabra).toString().substr(0, 32)
            },
            abracadabraToken() {
                return CryptoJS.SHA256(this.abracadabra).toString().substr(32, 32)
            }
        },
        filters: {
            dateformat(date, pattern) {
                return moment(date).format(pattern)
            }
        },
        mounted() {
            this.handleGetPapers()
        }
    })
</script>

<style type="text/css" media="screen">
    .paper.card {
        margin: 20px 0;
    }

    .paper.card.markdown img {
        width: 100%;
    }
</style>

</body>
</html>
